/* COLOR */
:root{
    --main-green: #26a745;
    --main-gray: hsl(0, 0%, 33%);
}

.fa-brands {
    font-size: 20px;
}

.icon-left .fa-brands {
    color: var(--main-gray);
}

.icon-left .fa-brands:hover {
    color: var(--main-green);
}

.navbar-brand {
    font-size: 18px;
    font-weight: 600;
}

ul {
    text-decoration: none;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
}

.dropdown-profile {
    font-size: 16px;
}

.fam {
    font-size: 25px;
    margin-right: 40px;
    color: var(--main-green);
}

.btn-outline-search {
    background-color: var(--main-green);
    color: white;
}

.btn-outline-search:hover {
    background-color: var(--main-gray);
    color: white;
}

.kategori {
    font-weight: 700;
}

.item-kategori {
    cursor: pointer;
    color: var(--main-green);
}

.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.product-grid .cost {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
}

.product-grid .kategori {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-green);
    margin-bottom: 5;
}

.product-grid .bank-name {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.product-grid .item {
    cursor: pointer;
}

.product-grid .item:hover {
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.1);
}

.trash-name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.item {
    text-decoration: none;
    color: black;
}

.item:hover  {
    color: black;
}

.input-jumlah-barang {
    width: 100%;
}

.minimum-buy {
    font-size: 10px;
    font-weight: 300;
}

.total-harga {
    font-size: 20px;
    font-weight: 600;
    color: #26a745;
}

.label-total-harga {
    font-size: 14px;
    font-weight: 500;
}

.deskripsi-pembelian {
    font-size: 12px;
    margin: 0;
}

.harga-display {
    font-size: 28px;
    color: #26a745;
    font-weight: 700;
}