/* COLOR */
:root{
    --main-green: #26a745;
    --main-gray: hsl(0, 0%, 33%);
}

.fa-brands {
    font-size: 20px;
}

.icon-left .fa-brands {
    color: var(--main-gray);
}

.icon-left .fa-brands:hover {
    color: var(--main-green);
}

.navbar-brand {
    font-size: 18px;
    font-weight: 600;
}

ul {
    text-decoration: none;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
}

.dropdown-profile {
    font-size: 16px;
}

.fam {
    font-size: 25px;
    margin-right: 40px;
    color: var(--main-green);
}

.btn-outline-search {
    background-color: var(--main-green);
    color: white;
}

.btn-outline-search:hover {
    background-color: var(--main-gray);
    color: white;
}

.kategori {
    font-weight: 700;
}

.item-kategori {
    cursor: pointer;
    color: var(--main-green);
}

.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.product-grid .cost {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
}

.product-grid .kategori {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-green);
    margin-bottom: 5;
}

.product-grid .bank-name {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.product-grid .item {
    cursor: pointer;
}

.product-grid .item:hover {
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.1);
}

.trash-name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.item {
    text-decoration: none;
    color: black;
}

.item:hover  {
    color: black;
}

.input-jumlah-barang {
    width: 100%;
}

.minimum-buy {
    font-size: 10px;
    font-weight: 300;
}

.total-harga {
    font-size: 20px;
    font-weight: 600;
    color: #26a745;
    border: none;
    width: 100%;
    text-align: right;
}

.total-harga:focus {
    outline: none;
}

.label-total-harga {
    font-size: 14px;
    font-weight: 500;
}

.deskripsi-pembelian {
    font-size: 12px;
    margin: 0;
}

.harga-display {
    font-size: 28px;
    color: #26a745;
    font-weight: 700;
}

.form-control-barang {
    width: 50%;
    text-align: center;
}

.form-control-barang-keranjang {
    width: 20%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.total-harga-cart {
    border: none;
    text-align: right;
    font-size: 12px;
    color: var(--main-gray);
    width: 50%;
}

.total-harga-cart-akhir {
    border: none;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    width: 50%;
}

.label-total-harga-cart {
    font-size: 14px;
    color: var(--main-gray);
}

.label-total-harga-cart-akhir {
    font-size: 16px;
    font-weight: 600;
}

.ringkasan-belanja {
    font-size: 18px;
    font-weight: 600;
    color: #26a745;
}

.card-img-keranjang {
    width: 135px;
    height: 135px;
    border-radius: 5px;
}

.card-img-pembelian {
    width: 95%;
    height: 95%;
    border-radius: 5px;
}

.header-keranjang {
    font-size: 28px;
    font-weight: 600;
}

.toko-name-keranjang {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-green);
}

.toko-name-pembelian {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-green);
    margin-left: 15px;
    margin-top: 5px;
}

.cost-keranjang {
    border: none;
    font-size: 24px;
    font-weight: 600;
    color: var(--main-green);
}

.trash-name-keranjang {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-top: 5px;
}

.cost-satuan-keranjang {
    font-size: 14px;
}

.status-pembelian {
    padding: 5px 15px;
    display: inline;
    font-size: 10px;
    color: var(--main-green);
    border-color: #26a745;
    background-color: #49f070;
    border-radius: 10px;
}

.header-detail-transaksi {
    font-weight: 600;
    color: var(--main-gray);
}

.invoice {
    margin: 0;
    font-size: 16px;
}

.invoice-data {
    margin: 0;
    font-size: 16px;
}

.invoice-nomer {
    margin: 0;
    color: var(--main-green);
    font-size: 16px;
    font-weight: 600;
}

.header-detail-produk {
    font-size: 18px;
    color: var(--main-gray);
    font-weight: 600;
    margin: 0;
}

.bankname-detail-transaksi {
    font-size: 16px;
    color: var(--main-green);
    font-weight: 600;
    margin-bottom: 5px;
}

.nama-sampah-detail-transaksi {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.harga-sampah-detail-transaksi {
    font-size: 16px;
}

.status-detail-transaksi {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    background-color: var(--main-green);
    border-radius: 10px;
    margin: 0;
}

.label-total-detail-transaksi {
    margin: 0;
    font-size: 18px;
}

.total-harga-detail-transaksi {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--main-green);
}

.total-belanja-detail-transaksi {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: var(--main-gray);
    margin-right: 30px;
}

.harga-total-belanja-detail-transaksi {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--main-green);
}

.img-toko {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.nama-toko-show {
    font-size: 18px;
    color: var(--main-green);
    margin: 0;
    font-weight: 600;
}

.alamat-toko-show {
    font-size: 16px;
}